
#search {
	margin : 20px;
}

main {
	display: flex;
}

#list {
	position : absolute; 
	margin : 20px 0px 0px 1000px;
}

/*#list p::after {
	content : " ukloni ";
	background-color: rgba(181, 179, 105, .5);
	position : absolute;
	margin: auto 20px;
}*/

h3 {
	margin-bottom : 30px;
}